# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Distribution / packaging
build/
develop-eggs/
dist/
*.egg-info/
.eggs/

# Unit test / coverage reports
.pytest_cache/
.coverage
.tox/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Streamlit cache
.streamlit/

# OS files
.DS_Store
Thumbs.db

# IDE configs
.vscode/
.idea/

# Local archives (optional for SIH)
archive/*.png
archive/meta.json
